#mainContacto {
    @include di-flex(column, flex-start, center);
    margin-top: $mrg-top;

    h1 {
        @extend %titles;
        @media(max-width:576px){
            font-size: 26px;
        }
    }
    
}

.redesFormulario {
    @include di-flex(row, space-around, space-around);
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

    @media(max-width:768px) {
        flex-direction: column;
        align-items: center;
    }
}

.misRedes {
    @include di-flex(column, space-between, space-around);
    width: 550px;
    background-color: #712c33;
    border-radius: 10px;
    color: white;
    padding: 30px;
    margin-bottom: $mrg-bot;


    h2 {
        text-align: center;
        font-weight: $f-weig-h;
    }

    @media(max-width:768px) {
        width: 80vw;
    }
}

.formContacto{
    @include di-flex(column, center, stretch);
    margin-bottom: 20px;
    legend{
        text-align:center;
        margin: 0;
        h3{
            margin: 0;
        }
    }
    input{
        margin-top: 10px;
    }

    textarea{
        resize: none;
        margin-top: 10px;
    }
}

.botonForm{
    @extend %boton1;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-bottom: 10px
}

.captchaButton{
    @include di-flex(row, center, center);
}

.gridRedes {
    display: grid;
    grid-template-areas: "redes spoti"
        "redes spoti";

    @media(max-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.instaTelegram {
    grid-area: redes;
    @include di-flex(column, space-around, flex-start);

    a {
        width: 100px;
        transition: all ease 0.3s;
        img {
            width: 100px;
        }
        &:hover{
            transform: scale(105%);
        }
    }

    @media(max-width:768px) {
        flex-direction: row;
        align-items: space-around;
        width: 100%;
        margin-bottom: 20px;
    }
}

.spotiList {
    grid-area: spoti;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(103%);
    }
    @media(max-width:768px) {
        width: 90vw;
    }
}