#introIndex {
    margin: 0 3vw;
    margin-bottom: $mrg-bot;
}

.imgCarrusel{
    height: 85vh;
    margin-top: $mrg-top;
    border-radius: 10px;
    object-fit: cover;

}

.carruselImg1{
    background-image: url(../../img/index/florvestido.png);
}

.textoCarrusel {
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    bottom: 0;
    background-color: rgba(240, 231, 222, 0.2);
    backdrop-filter: blur(2px);

    h1 {
        font-family: $font-fam1;
        font-weight: $f-weig-h;
        font-size: 35px;
        margin-bottom: 2rem;
        text-shadow: 1px 1px 2px rgba(000,000,000,0.7);

        @media(max-width:576px){
            font-size: 27px;
        }
    }
}

.botonCarrusel {
    position: relative;
    bottom: 0;
    background-color: #f0e7de !important;
    height: 10px !important;
    border-radius: 13px;
    margin-right: 10px !important;
    opacity: .2 !important;
}

.botonesCarrusel {
    margin-bottom: 0;
}

.active {
    opacity: 1 !important;
}

#sectionCards {
    @include di-flex(row, space-around, flex-start);
    margin-bottom: $mrg-bot;
    flex-wrap: wrap;
}

.cardIndex {
    width: 400px;
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: 5vh;
    transition: all 0.3s ease-in-out;

    &:hover{
        transform: scale(101%);
    }

    @media(max-width:576px) {
        width: 350px;
    }
}

.imgCards {
    height: 600px;
}

.boxCards {
    @include di-flex(column, flex-start, center);
    transition: all 0.3s ease;
    padding: 0;
    overflow: hidden;
    text-decoration: none;

    @media(max-width:992px){
        background-color: rgba(#000000, 0.4);
    }

    &:hover {
        background-color: rgba(#000000, 0.4);
    }

    &:hover .textCards {
        opacity: 1;
    }

    &:hover .boxTitleCards {
        background-color: rgba(#000000, 0);
        
    }

    &:hover .botonCards {
        background-color: #712c33;
        transform: scale(105%);
    }

    &:active .botonCards {
        background-color: #371519;
    }

}

.boxTitleCards {
    background-color: rgba(#f0e7de, 0.3);
    width: 100%;
    @media(max-width:992px){
        background-color: rgba(#000000, 0);
    }
    h2 {
        font-weight: $f-weig-h;
        text-shadow: 1px 1px 2px rgba(000,000,000,0.7);
        font-size: 20px;
        text-align: center;
        padding: 15px;
        margin: 0;
        color: #ffffff;
    }
}

.textCards {
    color: #ffffff;
    opacity: 0;
    padding: 16px;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px rgba(000,000,000,0.7);
    overflow: hidden;
    @media(max-width:992px){
        opacity: 1;
    }
}

.divBotonCards {
    position: absolute;
    bottom: 2rem;
}

.botonCards {
    background-color: #712c33;
    border: none;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #371519 !important;
    }
}