%titles{
    background-color: #712c33;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: $f-weig-h;
    width: 600px;
    text-align: center;
    @media (max-width: 992px) {
        width: 60vw
    }
}

%boton1{
    background-color: #ffffff;
    color: #712c33;
    border-color: transparent;
    font-weight: bold;
    transition: all ease 0.3s;
    &:hover{
        transform: scale(105%);
        background-color: #c86c28;
        border-color: transparent;
    }
    &:active{
        background-color: #c86c28 !important;
        border-color: transparent !important;
        transition: 0.1s ease;
    }
}